body { background-color: antiquewhite; }
.wrapper
{
    width: 360px;
    margin: 0 auto;
}

.wrapper-index
{

}

.wrapper-index .notes
{

}

.wrapper-index .notes .content
{
    padding: 10px;
    border: 1px solid green;
}

.title
{
    border-bottom: 1px solid yellow;
}

a { text-decoration: none; }